.Users-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.pointer{
    cursor: pointer;
}
.carousel-imgg{
    width:100%; 
    height: 400px;
}
.back-img{
    background-color: #373940 !important;
}